In [1]:
import numpy as np
import pandas as pd
import os

In [35]:
pd.read_excel("/kaggle/input/dataset/Banking Case - Data.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Variable,Description,Data Type
1,NaN,Customer_number,Unique Customer Identification number,ID
2,NaN,Acc_creation_date,Account opening date,Date
3,NaN,Insurance,Has the customer taken insurance?,Categorical
4,NaN,balance,NaN,Numeric
5,NaN,housing,Has the customer taken housing loan?,Categorical
6,NaN,loan,Has the customer taken personal loan?,Categorical
7,NaN,contact,Contact communication type,Categorical
8,NaN,duration,Duration of call with the customer for Term loan,Numeric
9,NaN,campaign,Number of contacts performed during this campa...,Numeric
10,NaN,last_contact_day,Number of days that passed by after the client...,Numeric
11,NaN,previous,Number of contacts performed before this campa...,Categorical
12,NaN,poutcome,Outcome of the previous marketing campaign,Categorical
13,NaN,Term Deposit,Has the customer subscribed a term deposit (fi...,Target (categorical)
14,NaN,Count_Txn,Number of Transactions Done by the customer,Numeric
15,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN
17,NaN,Customer_number,Unique Customer Identification number,ID
18,NaN,age,Age of customer in years,Numeric
19,NaN,job,Type of job the customer has,Categorical
20,NaN,marital,Marital status of the customer,Categorical
21,NaN,education,Highest education level of customer,Categorical
22,NaN,Annual Income,Annual income of the customer,Numeric
23,NaN,Gender,Gender of the customer,Categorical

In [36]:
import pandas as pd

# Replace 'your_file.xlsx' with the actual name of your Excel file
excel_file = pd.ExcelFile('/kaggle/input/dataset/Banking Case - Data.xlsx')

# Get the names of all sheets in the Excel file
sheet_names = excel_file.sheet_names

# Create a dictionary to store DataFrames
dataframes = {sheet_name: excel_file.parse(sheet_name) for sheet_name in sheet_names}

for sheet_name, df in dataframes.items():
    print(f"\nContents of sheet '{sheet_name}'")

Contents of sheet 'Data Dictionary'

Contents of sheet 'Transaction Data'

Contents of sheet 'Customer Demographics'

In [37]:
df_transaction = dataframes['Transaction Data']
df_demo = dataframes['Customer Demographics']

In [38]:
df_transaction.head()

,Sno,Customer_number,Insurance,balance,housing,loan,contact,duration,campaign,last_contact_day,previous,poutcome,Term Deposit,Count_Txn
0,0,1001,no,2143,yes,no,NaN,261.0,1,2,0,unknown,no,351.0
1,1,1002,no,29,yes,no,unknown,151.0,1,2,0,unknown,no,326.0
2,2,1003,no,2,yes,yes,unknown,76.0,1,2,0,NaN,no,422.0
3,3,1004,no,1506,yes,no,unknown,92.0,1,2,0,unknown,no,113.0
4,4,1005,no,1,no,no,unknown,198.0,1,2,0,unknown,no,342.0

In [41]:
df = pd.merge(df_transaction,df_demo,on = "Customer_number")

In [42]:
df

,Sno,Customer_number,Insurance,balance,housing,loan,contact,duration,campaign,last_contact_day,previous,poutcome,Term Deposit,Count_Txn,age,job,marital,education,Annual Income,Gender
0,0,1001,no,2143,yes,no,NaN,261.0,1,2,0,unknown,no,351.0,58,management,married,tertiary,839368,M
1,1,1002,no,29,yes,no,unknown,151.0,1,2,0,unknown,no,326.0,44,technician,single,secondary,1452858,M
2,2,1003,no,2,yes,yes,unknown,76.0,1,2,0,NaN,no,422.0,33,entrepreneur,married,NaN,4851383,F
3,3,1004,no,1506,yes,no,unknown,92.0,1,2,0,unknown,no,113.0,47,blue collar,married,unknown,3207754,F
4,4,1005,no,1,no,no,unknown,198.0,1,2,0,unknown,no,342.0,33,unknown,single,unknown,2562322,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45206,46207,no,825,no,no,cellular,0.0,0,-1,0,unknown,yes,152.0,51,technician,married,tertiary,2229818,M
45207,45207,46208,no,1729,no,no,cellular,0.0,0,-1,0,unknown,yes,334.0,121,retired,divorced,primary,2783556,M
45208,45208,46209,no,5715,no,no,cellular,1127.0,5,184,3,success,yes,381.0,72,retired,married,secondary,443512,M
45209,45209,46210,no,668,no,no,telephone,0.0,0,-1,0,unknown,no,211.0,57,blue-collar,married,secondary,4193684,F
45210,45210,46211,no,2971,no,no,cellular,361.0,2,188,11,other,no,331.0,37,entrepreneur,married,secondary,3617935,M

In [43]:
df.describe()

,Sno,Customer_number,duration,campaign,last_contact_day,previous,Count_Txn,age
count,45211.000000,45211.000000,45172.000000,45211.000000,45211.000000,45211.000000,45210.000000,45211.000000
mean,22605.000000,23606.000000,258.139511,2.762182,41.832253,0.580323,299.614952,40.980005
std,13051.435847,13051.435847,257.631452,3.087291,99.457030,2.303441,115.721788,10.838273
min,0.000000,1001.000000,-167.000000,0.000000,-9.000000,0.000000,-423.000000,18.000000
25%,11302.500000,12303.500000,103.000000,1.000000,1.000000,0.000000,200.000000,33.000000
50%,22605.000000,23606.000000,180.000000,2.000000,1.000000,0.000000,300.000000,39.000000
75%,33907.500000,34908.500000,319.000000,3.000000,1.000000,0.000000,400.000000,48.000000
max,45210.000000,46211.000000,4918.000000,63.000000,871.000000,275.000000,499.000000,121.000000

In [44]:
df = df.drop(columns = ["Sno","Customer_number"],axis=1)

In [45]:
from pandas_profiling import ProfileReport
import pandas as pd

# Create a ProfileReport
profile = ProfileReport(df, minimal=True, explorative=True)

# Generate widgets and save the report
profile.to_widgets()

# Saving file to in JSON and HTML format
# To HTML
profile.to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sno               45211 non-null  int64
 1   Customer_number   45211 non-null  int64
 2   Insurance         45211 non-null  object
 3   balance           45156 non-null  object
 4   housing           45211 non-null  object
 5   loan              45203 non-null  object
 6   contact           45168 non-null  object
 7   duration          45172 non-null  float64
 8   campaign          45211 non-null  int64
 9   last_contact_day  45211 non-null  int64
 10  previous          45211 non-null  int64
 11  poutcome          45196 non-null  object
 12  Term Deposit      45203 non-null  object
 13  Count_Txn         45210 non-null  float64
 14  age               45211 non-null  int64
 15  job               45198 non-null  object
 16  marital           45193 non-null  object
 17  education         45190 non-null  object
 18  Annual Income     45194 non-null  object
 19  Gender            45211 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 6.9+ MB